body {
    background-image: url("./Images/background00.png");
   
}

h1 {
    text-align: center; 
}

.navigationContainer {
    background-color: grey;
}

.nav {
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

.nav-link-active {
    color: black;
    padding: 8px;
    background-color: rgb(57, 56, 56);
    border-radius: 2px;
    opacity: 0.7;
    
}
.playerContainer {
    background-image: url("./Images/containerback1.png");
    opacity: 0.9;
    height: 400px;
    width: 20%;
    margin: 20px;
    float: left;
    color: white;
    padding: 25px;
    

}
  


#gameContainer {
    background-image: url("./Images/containerback1.png");
    width: 70%;
    height: 900px;
    border-radius: 20px;
    opacity: 0.9;
    float: right;
    margin-right: 50px;
  


}

#footerContainer {
    background-color: rgb(57, 56, 56);
    opacity: .8;
    height: 50px;
    border-radius: 20px;
    width: 900px;
    padding: 10px;
    color: white;
    text-align: center;

}